:root {
  --bg-color: #121212;
  --text-color: #fff;
  --accent: linear-gradient(45deg, #6a0dad, #9b59b6);
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #e0e0e0;
  background-color: #121212;
  line-height: 1.6;
}

/*deixando colunas no main*/
main {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

/*meuno do lado*/
.menu {
  position: fixed;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  background-color: #1b1717;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  z-index: 1000;
  margin-top: 20px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #9b59b6;
}

span {
  color: #6a0dad;
}

.menu>a {
  color: #e0e0e0;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
  padding: 8px 12px;
  border-radius: 8px;
  transition: color 0.3s;
  text-align: center;
}

.menu a:hover,
.menu a.active {
  color: #6a0dad;
  text-decoration: none;
  transform: scale(1.08);
}

.menu-toggle {
  display: none;
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #8e44ad;
  color: #fff;
  border: none;
  font-size: 2rem;
  border-radius: 8px;
  padding: 10px 14px;
  cursor: pointer;
  z-index: 1100;

}

.foto {
  margin: 10px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border: 3px solid #791697;
}

#inicio {
  color: #e0e0e0;
}

.foto>img {
  bottom: 0;
  width: 100%;
}

.centralizarfoto {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

header {
  background: linear-gradient(135deg, #1f1f1f, #292929);
  padding: 40px 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.centralizarfoto>h1 {
  font-size: 2.5rem;
  color: #e0e0e0;
}

section {
  background-color: #1f1f1f;
  margin: 36px 4rem;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

li {
  list-style: none;
}

.sectionh1 {
  font-size: 1.6rem;
  margin: auto;
}

a {
  color: rgb(134, 197, 233);
  text-decoration: none;
}

a:hover {
  color: rgb(65, 167, 226);
  text-decoration: underline;
}

strong {
  font-size: 1.2em;
}

footer {
  text-align: center;
  background: linear-gradient(135deg, #1f1f1f, #292929);
  margin-top: 30px;
  padding: 20px
}

#typewriter::after {
  content: '|';
  animation: blink 0.7s infinite;
  margin-left: 2px;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

/*Responsivo*/
@media (max-width: 400px) {
  .foto {
    max-width: 100%;
    height: auto;
  }

  header h1 {
    font-size: 1.8rem;
    text-align: center;
  }

  section {
    margin: 15px;
    padding: 20px;
  }

  .menu {
    width: 180px;
  }
}

@media (max-width: 600px) {
  .centralizarfoto h1 {
    font-size: 2rem;
    text-align: center;
  }

  section {
    margin: 20px;
    padding: 20px;
  }
}

@media (max-width:400px) {
  .foto {
    max-width: 100%;
  }

}

@media (max-width: 800px) {
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    width: 220px;
    height: 100%;
    padding-top: 80px;
    transform: translateX(-100%);
    background-color: #1b1717;
  }


  .menu.show {
    transform: translateX(0);
  }

  .menu-toggle {
    display: block;
  }
}

.menu {
  max-height: 80vh;

  overflow-y: auto;

}

@media (max-width: 360px) {
  .menu {
    width: 70%;
    font-size: 1rem;
  }

  .menu a {
    padding: 10px 15px;

  }
}