/*reset e base*/
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #e0e0e0;
  background-color: #121212;
  line-height: 1.6;
  display: flex;

  flex-direction: column;

  min-height: 100vh;
}

header a {
  color: #e0e0e0;
  text-decoration: none;
}

header h1 {
  color: #6a0dad;
  font-size: 2.4rem;
}

header a:hover {
  color: #9244b1;
  transition: color 0.3s;
}

header {
  background: linear-gradient(135deg, #1f1f1f, #292929);
  padding: 40px 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

main h2 {
  color: #7e22c0;
}

main {
  background-color: #1f1f1f;
  margin: 30px;
  border-radius: 12px;
  padding: 20px;
  flex-grow: 1;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

footer {
  text-align: center;
  background: linear-gradient(135deg, #1f1f1f, #292929);
  margin-top: 30px;
  padding: 20px
}