/*reset e base*/
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #e0e0e0;
  background-color: #121212;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

header a {
  color: #e0e0e0;
  text-decoration: none;

}

header a:hover {
  color: #9244b1;
  transition: color 0.3s;
}

header {
  background: linear-gradient(135deg, #1f1f1f, #292929);
  padding: 40px 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #6a0dad;
  padding-bottom: 10px;
  font-size: 2.4rem;
}

main h1 {
  color: #7625af;
  font-size: 4.9;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

form {
  background-color: #1f1f1f;
  margin: 30px;
  border-radius: 12px;
  padding: 10px;
  width: 500px;
  flex-grow: 1;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
textarea{
  padding: 5px;
  margin:10px ;
  min-width: 90%;
  border-radius: 9px;
    border: #6a0dad 3px solid;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
input {
  margin: 10px;
  padding: 10px;
  border: #6a0dad 3px solid;
  border-radius: 7px;
  min-width: 90%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input:hover {
  border: #8b1adb 3px solid;
}

button {
  padding: 25px;
  background: linear-gradient(135deg, #fc466b, #3f5efb);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  min-width: 90%;
}

button:hover {
  cursor: pointer;
  color: aliceblue;
}

.butao {
  margin-left: 0.7rem;
}

#mensagem {
  padding: 20px;
}

footer {
  text-align: center;
  background: linear-gradient(135deg, #1f1f1f, #292929);
  margin-top: 30px;
  padding: 20px
}